{% extends 'base.html.twig' %}

{% block title %}
    Holiday Manager | Log In
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h2 class="panel-title pull-left hm-panel-title">Log In</h2>
            </div>
            <div class="panel-body">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            </div>
        </div>
    </div>
{% endblock %}