{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Taken Holidays</div>
            <div class="panel-body">
                {% if takenHolidays %}
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Holiday Type</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for takenHoliday in takenHolidays %}
                                <tr>
                                    <td>{{ takenHoliday.getHolidayName() }}</td>
                                    <td>{{ takenHoliday.getFrom() }}</td>
                                    <td>{{ takenHoliday.getTo() }}</td>
                                    <td><a href="{{ path("deleteTakenHoliday", {'id' : takenHoliday.getTakenHolidayId() }) }}">Remove</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <strong>Currently there is no taken holiday!</strong>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}