{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Select Available Holiday</div>
                <div class="panel-body">
                    {% if availableHolidays %}
                        {% for availableHoliday in availableHolidays %}
                            <table class="table table-striped table-hover">
                                <caption>{{ availableHoliday.getHolidayName() }}</caption>
                                <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Day Count</th>
                                    <th>Take</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for year, days in availableHoliday.getYearDayDictionary() %}
                                        <tr>
                                            <td>{{ year }}</td>
                                            <td>{{ days }}</td>
                                            <td><a href="{{ path("takeHoliday", {'id': availableHoliday.getHolidayId(), 'year': year }) }}">Take</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    {% else %}
                        <strong>Currently you can't take any holiday!</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}